/.vs
/Debug
/x64
/test

/HaiBinQiangJia/Debug
/HaiBinQiangJia/x64

/boogiepop/Debug
/boogiepop/x64

*zip
*dll

/client/__pycache__
/client/QCandyUi
/client/*jpeg
/client/*temp*
/client/*json
/client/fur
/client/color